input {
  width: 400px;
  height: 40px;
  padding-left: 30px;
  border-radius: 4px;
  border: 1px solid #eee;
  transition: 0.25s ease;
}
.forms {
  width: 800px;
  margin:0px auto;
  position: relative;
}
input:focus {
  border: 1px solid #6a5af9;
}
label {
  position: absolute;
  top: 12px;
  left: 30px;
  color: #999;
  user-select: none;
  transition: 0.25s ease;
}
input:not(:placeholder-shown) + label,
input:focus + label {
  left: 20px;
  top: -10px;
  background-color: white;
  display: inline-block;
  padding: 0px 10px;
  color: #6a5af9;
}